html
  head
    title Congratulations! You are now verified.
    style
      include style.css
  body
    h1 Hurray!
    p Your email has been successfully verified.
    p Thank you for registering with Philproperties Services. We're excited to have you on board!
    p You can now access all features and services available on our platform.
    p If you encounter any issues, feel free to reach out to our support team.
    hr
    small This is an automated message, please do not reply.
